<!DOCTYPE html>
<html>
<head>
    <title>Library Management System</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <h1>📚 Library Management System</h1>

    <div class="container">

        <a href="/addbook" class="btn">Add Book</a>

        <a href="/viewbooks" class="btn">View Books</a>

        <a href="/issuebook" class="btn">Issue Book</a>

        <a href="/viewissuedbooks" class="btn">Issued Books</a>

    </div>

</body>
</html>