<!DOCTYPE html>
<html>
<head>
    <title>Issue Book</title>
</head>
<body>

<h2>Issue Book</h2>

<form method="POST">

    Student Name:
    <input type="text" name="student_name" required>

    <br><br>

    Book Name:
    <input type="text" name="book_name" required>

    <br><br>

    Author Name:
    <input type="text" name="author_name" required>

    <br><br>

    Quantity:
    <input type="number" name="quantity" required>

    <br><br>

    <button type="submit">Issue Book</button>

</form>

</body>
</html>